<div class="container">
    <!-- Row -->
    <div class="row">
        <!-- Section header -->
        <div class="section-header text-center">
            <h2 class="title">Estudios</h2>
        </div>

        <!-- Estudios -->
        <h3>Estudios</h3>
        <ul>
            <li><strong>Ing. Sistemas Computacionales | Instituto Tecnológico de Saltillo (2019–2024)</strong>
                <br>- Egresado — Título en proceso
            </li>
        </ul>
        <br><br>

        <!-- Estudios Complementarios -->
        <h3 style="margin-top: 30px;">Estudios Complementarios</h3>
        <ol>
            <li><strong>Curso de programación y desarrollo de videojuegos con Unity, 2020</strong></li>
            <li><strong>Microsoft Python Development Professional Certificate</strong> | Coursera | Sept 2025 - Marzo 2026</li>
        </ol>
    </div>
    <!-- Row -->
</div>
