        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Experiencia</h2>
                </div>
                <!--Foto--->
                <img src="img/logo_hella.png" alt="Hella Logo" style="width: 100px; ">
                <!--Titulo--->
                <h3 style="display: inline-block; vertical-align: middle;">Hella Electronics Corporation <br><span style="font-size: 15px; color: cadetblue;">Practicas Profesionales Febrero 2024 - Junio 2024</span><br><span style="font-size: 15px; color: cadetblue;">Lab Testing Intern</span></h3>
                <!--Detalle-->
                    <p class="datail-experience" style="padding-left: 100px;line-height : 25px; font-size: 14px; color: rgb(71, 114, 116); font-weight: normal;">Desarrollo y diseño de aplicación de prueba para el proyecto probador portátil de módulo de control de asiento DSM <br><span style="padding-left: 20px;">• Python.</span><br><span style="padding-left: 20px;">• CSV.</span><br><span style="padding-left: 20px;">• CAN.</span><br><span style="padding-left: 20px;">• Diagramas UML.</span><br><span style="padding-left: 20px;">• ASANA</span></p>
                
                <img src="img/Hexaware.jpg" alt="Hexaware Logo" style="width: 100px; ">
                <!--Titulo--->
                <h3 style="display: inline-block; vertical-align: middle;">Hexaware Technologies <br><span style="font-size: 15px; color: cadetblue;">Service Desk IT Analyst / Workplace Engineering Track Agosto 2024 - Julio 2025</span><br><span style="font-size: 15px; color: cadetblue;">ACS Help Desk</span></h3>
                <!--Detalle-->
                    <p class="datail-experience" style="padding-left: 100px;line-height : 25px; font-size: 14px; color: rgb(71, 114, 116); font-weight: normal;">Brindar soporte tecnico y soluciones a clientes de American Cancer Society por medio de chats en ServiceNow, calls, correos Outlook y Teams. 
                        <br><span style="padding-left: 20px;">• Workday.</span>
                        <br><span style="padding-left: 20px;">• Cisco Secure Client.</span>
                        <br><span style="padding-left: 20px;">• Arch-E.</span>
                        <br><span style="padding-left: 20px;">• Admin Center y Exchange Admin M365.</span>
                        <br><span style="padding-left: 20px;">• Apps de M365</span>
                        <br><span style="padding-left: 20px;">• Five9</span>
                        <br><span style="padding-left: 20px;">• Active Directory</span>
                        <br><span style="padding-left: 20px;">• Okta Verify</span>
                        <br><span style="padding-left: 20px;">• MIM (Microsoft Identity Manager)</span>
                        <br><span style="padding-left: 20px;">• Microsoft Azure Admin</span>
                        <br><span style="padding-left: 20px;">• Intune Company Portal</span>
                    </p>
                <img src="img/softtek-logo.png" alt="Softtek Logo" style="width: 100px; ">
                <!--Titulo--->
                <h3 style="display: inline-block; vertical-align: middle;">Softtek <br><span style="font-size: 15px; color: cadetblue;">App Supper Engineer / Septiembre 2025 - Actualmente</span><br><span style="font-size: 15px; color: cadetblue;">Coppel App Support Enginner SCM</span></h3>
                <!--Detalle-->
                    <p class="datail-experience" style="padding-left: 100px;line-height : 25px; font-size: 14px; color: rgb(71, 114, 116); font-weight: normal;">Brindar soporte tecnico y soluciones a aplicaciones de clientes como SCM por medio de chats en Google Chat y Teams, folios en ServideDesk. 
                        <br><span style="padding-left: 20px;">• Azure Devops.</span>
                        <br><span style="padding-left: 20px;">• Manejo de Pipelines CI/CD.</span>
                        <br><span style="padding-left: 20px;">• Git.</span>
                        <br><span style="padding-left: 20px;">• Linux.</span>
                        <br><span style="padding-left: 20px;">• Google Cloud GCP</span>
                        <br><span style="padding-left: 20px;">• Angular</span>
                        <br><span style="padding-left: 20px;">• Python</span>
                    </p>
            </div>
            
            <!-- /Row -->
        </div>